<div class="page-header">
    <ul class="breadcrumb">
      <li><a href="[% c.url_for('/') %]">Where I Live?</a> <span class="divider">/</span></li>
      <li class="active">[% place %]</li>
    </ul>
</div>

<ul>
[% FOREACH u IN users %]
<li><img src='[% u.gravatar %]?s=30' /> <a href='[% u.homepage %]'>[% u.name %]</a></li>
[% END %]
</ul>
