
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span6">
        <span class="label success">New</span> <a href='/app/whereilive'>Where I Live?</a> is just launched!
      </div>
    </div>
  </div>
</div>